body {
    font-family: Arial, sans-serif;
    background: radial-gradient(green 5%, black 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff;
    transition: background 0.5s;
    overflow: hidden;
}

.container {
    max-width: 500px;
    transform: translate(-50%, 50%);
    top: 50%;
    left: 50%;
    padding: 60px 20PX 20PX 20PX;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: transform 0.2s;
    position: relative;
}

/* .container:hover {
    transform: translateY(-5px);
} */

.logo {
    padding: 1%;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px;
    height: auto;
    z-index: 2;
    background-color: #333;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); */
}

.logo:hover {
    transform: translateX(-50%) scale(1.1);
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.input-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 22px);
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    transition: border-color 0.3s, color 0.3s;
}

.input-group input:focus {
    border-color: #1abc9c;
    color: #1abc9c;
}

.submit-btn {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 15px;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
}

.submit-btn:hover {
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

.fullscreen-logo {
    position: fixed;
    top: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;  /* Set width to auto to maintain aspect ratio */
    max-width: 80vw;  /* Limit maximum width to viewport width */
    max-height: 80vh; /* Limit maximum height to viewport height */
    background: radial-gradient(green 5%, black 90%);
    z-index: 9999;
    transition: transform 2s ease-in-out;
}

.fullscreen-logo img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    object-fit: contain; /* Maintain aspect ratio */
}

/* Remove the hover styles for the logo in fullscreen mode */
.fullscreen-logo:hover {
    transform: translate(-50%, -50%) scale(50);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
